<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Item</title>
</head>
<body>
    <main>
        <div>
            <h1>Create To-Do Item</h1>
            <form method="post">
                {% csrf_token %}
                {{ item_form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
    <footer>
        <a href="{% url 'todo_list_list' %}">Return to Task List</a>
    </footer>
</body>
</html>
